.bg-blue{
	background-color: #5052b5 !important;
}

.bg-red{
	background-color: #b74e91 !important;
}

.bg-green{
	background-color: #312450 !important;
}

.image{
	width: 250px !important;
	height: 250px !important;
}